[Unit]
Description=Job that runs the lanview daemon(s)
After=postgresql@9.5-main.service

[Service]
Type=simple
User=lanview2
ExecStart=/usr/local/bin/lv2d -L /var/local/lanview2/log/lv2d.log

[Install]
WantedBy=multi-user.target
